<div class="filters">
	<h2 class="filters-title text-lg font-heading none md:block mb-10">
		商品分類
	</h2>
	<a href="#" class="lg:none inline-block gee  btn text-xs btn-dark rounded-lg mb-2" data-ta=".filter-drawer" data-gene="click:drawer.toggle">
		<i class="icon icon-menu"></i>
		產品選單
	</a>
	<div class="filter-drawer drawer md:drawer --left lg:p-0 p-4 gee" data-gene="init:scrollbar.init">
		<a href="javascript:;" class="close">
			<i class="icon icon-close"></i>
		</a>
		{{rows}}

	</div>
</div>
