<div class="grid-switcher">
	<div class="flex">
		<a href="#" class="btn">
			<img src="{{'images/grid.svg'}}" alt="">

		</a>
		<a href="#" class="btn">
			<img src="{{'images/list.svg'}}" alt="">

		</a>
	</div>
</div>
