<section class="sectionBtn">
  <div class="pic" style="background-image:url({{ item.thumbnail.src | assets}})"></div>
  <div class="sb-conatiner flex flex-col justify-center">
  <div class="text-5xl text-shadow font-bold text-white">{{item.title}}</div>
    {% include "@cmpt/fudiBtn/fudiBtn.twig" with {
      color: item.color,
      txt: 'MORE',
      link: item.link,
    }%}
  </div>
</section>