{% set page = 'overview' %}

{% extends "@layouts/base.twig" %}
{% block necker %}
	{% include "@cmpt/banner/banner.twig"  with {
		row:{
		thumbnail:{
		src:	'images/banner-note.jpg',
		alt:	'Banner 明淨的桌面上的咖啡杯',
			}

	}  }%}
{% endblock %}
{% block bodier_cls %}py-20
{% endblock %}
{% block bodier %}
	<div class="bodier-title">
		<h1 class="title-underline">
			會員註冊</h1>
	</div>
	<div class="container sm px-4 lg:px-0 ">
		{% include "@cmpt/form/profile.twig" %}
	</div>
{% endblock %}
