<div class="brand z-5">
	<a href="{{ uri }}" title="回到首頁">
		<img class="logo link" src="{{ '/images/logo.png'| assets }}" alt="logo">
		<img class="logo dark link" src="{{ '/images/logo-dark.png'| assets }}" alt="logo深色背景上的logo">
	</a>
</div>
