.cart_totals {

  display: flex;
  flex-direction: column;

  h2 {
    display: none;
  }

  .shop_table {
    width: 100%;
    margin-left: auto;

    tr {
      th {
        min-width: 100px;
        text-align: left;
        padding: .5rem 0;
      }

      td {

        padding: .5rem 0;
        text-align: right;
      }

      &.order-total {
        .woocommerce-Price-amount {}
      }
    }
  }

  .wc-proceed-to-checkout {
    margin-left: auto;

    a {
      @apply block bg-dark mt-8 px-12 py-4 text-white text-sm;
    }
  }

}
