<div class="{{id}} x:drawer drawer --{{direction}} {{cls}}">
	{% if close == true %}
		<a href="javascript:;" class="close gee" data-ta=".{{id}}" data-gene="click:drawer.toggle">
			<i class="icon icon-close"></i>
		</a>
	{% endif %}
</div>
