
<div class="flex font-bold space-x-8 items-center justify-center">
  <a href='#' class="txt text-pink text-lineBtn line-pink">DESIGN</a>
  <img src="{{ 'images/arr.png' | assets }}" alt="">
  <a href='#' class="txt text-blue text-lineBtn line-blue">PRODUCTION</a>
  <img src="{{ 'images/arr.png' | assets }}" alt="">
  <a href='#' class="txt text-black text-lineBtn line-yellow">LOGISTICS</a>
</div>
