
<div class="flex font-bold space-x-8 items-center justify-center">
  <a herf='#' class="txt text-pink text-lineBtn">DESIGN</a>
  <img src="{{ 'images/arr.png' | assets }}" alt="">
  <a herf='#' class="txt text-blue text-lineBtn">PRODUCTION</a>
  <img src="{{ 'images/arr.png' | assets }}" alt="">
  <a herf='#' class="txt text-black text-lineBtn">LOGISTICS</a>
</div>
