<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="ie=edge" http-equiv="X-UA-Compatible">
		<title></title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	</head>
	<body
		class="font-body w-full {% block body_cls %}{% endblock %}">
		{# <header class="app-header relative">
					<a href="#U" title="上方功能區塊" id="AU" accesskey="U" class="block h-1 -mb-1 text-white">:::</a>
					{% include "@cmpt/appbar/appbar.twig" %}
				</header> #}
		<div class="necker">
			{% block necker %}
				necker
			{% endblock %}
		</div>
		<div class="bodier {% block bodier_cls %}{% endblock %}">
			<a href="#C" title="中央內容區塊" id="AC" accesskey="C" class="block h-1 -mb-1 overflow-hidden">:::</a>
			{% block bodier %}
				bodier
			{% endblock %}
		</div>
		{# <footer class="app-footer bg-black text-white  py-4">
					<a href="#Z" title="下方功能區塊" id="AZ" accesskey="Z" class="block h-1 -mb-1 overflow-hidden">:::</a>
					{% block footer %}
						<div class="container py-4 px-4 lg:px-0">
							<div class="flex lg:flex-row flex-col">
								<div>
									<h4 class="text-xl">職場安全健康週專網</h4>
									<ul class="">
										<li>資訊應用平台諮詢客服專線：02-22470449</li>
										<li>服務時間：週一至週五 上午9:00-12:00，下午13:30-17:30</li>
										<li>地址：24219 新北市新莊區中平路439號南棟11樓
										</li>
									</ul>
								</div>
								<div class="lg:ml-auto flex flex-col justify-between lg:items-end">
									<ul class="nav --normal -mx-4 lg:mx-0">
										<li>
											<a href="#" title="隱私權政策">隱私權政策</a>
										</li>
										<li>
											<a href="#" title="會員權限">會員權限</a>
										</li>
									</ul>
									<div class="mark w-32">
										<img src="{{'images/accessibility-A.jpg' | assets}}" alt="無障礙標章">
									</div>
								</div>
							</div>
							<hr class="border-lightest my-4">
							<div class=" ">
								<p>Copyright © 勞動部職業安全衛生署    建議使用IE10以上、Firefox、Chrome瀏覽器，在1024x768模式下瀏覽</p>
							</div>
						</div>
					{% endblock %}
				</footer> #}
		{% include '@core/mod/loader/loader.twig' %}
		<div class="modal modal-search ">
			<div class="modal-wrap px-8 w-full" style="max-width:500px">
				<div class="rounded-lg bg-white overflow-hidden">
					<div class=" w-full  bg-primary flex items-center px-4 py-2">
						<div class="text-white ">搜尋</div>
						<button class="modal-close text-white ml-auto" aria-label="close">
							<i class="icon icon-close" aria-hidden="true"></i>
							<span class="sr-only">關閉</span>
						</button>
					</div>
					<div class="px-4 lg:px-16 py-4 lg:py-10">
						<form class="form  pointer-events-auto" action="">
							<div class="field">

								<input id="keyword" type="text" class="input" name="keyword" placeholder="請輸入關鍵字">
							</div>

							<div class="field  mb-0">
								<a href="#" class="btn btn-primary btn-block" title="新增">搜尋</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		{% block append %}{% endblock %}
	</body>
</html>
